
.icon-chat:before { content: '\e800'; } /* '' */
.icon-down-open:before { content: '\e801'; } /* '' */
.icon-up-open:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-deviantart:before { content: '\f1bd'; } /* '' */
.icon-soundcloud:before { content: '\f1be'; } /* '' */
