@font-face {
    font-family: 'basis33';
    src: url('font/basis33.ttf') format('truetype');
    /* Add more src lines for additional formats if needed */
    font-weight: normal;
    font-style: normal;
  }

html {
    scroll-behavior: smooth;
}

body {
    background-color: #050505;
    color: #d8d8d8;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: #d4e1ff;
    font-family: 'basis33';
    font-weight: 100;
    margin: 3px;
    font-size: 50px;
    word-wrap: break-word;
}

h2 {
    font-family: 'basis33';
    font-weight: 100;
    font-size: 30px;
    margin: 3px;
    word-wrap: break-word;
}

h3 {
    font-family: 'basis33';
    font-weight: 100;
    font-size: 25px;
    margin-bottom: 24px;
    word-wrap: break-word;
}

p {
    font-family: 'basis33';
    font-weight: 100;
    font-size: 25px;
    word-wrap: break-word;
}

.link {
    font-family: 'basis33';
    font-weight: 100;
    font-size: 25px;
    color: #1759ff;
    text-decoration: none;
}

.link:hover {
    color: #286aff;
    text-decoration: underline;
}

.link:active {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.site-banner {
    background-image: url("assets/img/banner.webp");
    background-attachment: fixed;
    background-size: auto 600px;
    color: #FFFFFF;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content {
    display: inline-block;
    text-align: center;
}

.site-main-section {
    text-align: center;
}

.section-coloralt {
    background-color: #161616;
}

.section {
    padding: 20px;
}

.section section {
    margin-left: auto;
    margin-right: auto;
}

.game-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.game-thumbnail {
    margin: 10px;
}

.game-thumbnail:hover {
    filter: brightness(80%);
}

.game-thumbnail:active {
    filter: brightness(60%);
}

.href-button {
    font-family: 'basis33';
    font-size: 25px;
    display: inline-block;
    background-color: #353535;
    color: #cccccc;
    padding: 10px;
    text-decoration: none;
    margin: 5px;
    border-radius: 100px;
}

.href-button:hover {
    background-color: #474747;
}

.href-button:active {
    background-color: #636363;
}

.project-list {
    background-color: #010101;
    max-height: 500px;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

.project {
    background-color: #222020;
    margin: 10px;
    padding: 10px;
    text-align: left;
    border-radius: 10px;
}

.project img {
    float: left;
}

.scroll-up {
    float: right;
    position: sticky;
    bottom: 0;
}

.message-icon {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 150px;
}

@media screen and (min-width: 800px) {
    .section section {
        width: 50%;
    }

    #logo-banner {
        width: 500px
    }

    .project-list {
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    #logo-banner {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 450px) {
    .game-thumbnail {
        width: 400px;
    }
}

@media screen and (max-width: 450px) {
    .game-thumbnail {
        width: 90%;
    }
}
